/* * {
    box-sizing: border-box;
    font-weight: bold;
}

body {
    background-color: #edeff2;
} */

@import url('./reset.css');

.chat_window {
    max-width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

/* 
.top_menu {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
}

.top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.top_menu .buttons .button.close_button {
    background-color: #f5886e;
}

.top_menu .buttons .button.minimize {
    background-color: #fdbf68;
}

.top_menu .buttons .button.maximize {
    background-color: #a3d063;
}

.top_menu .title {
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
} */

.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 560px;
    overflow: scroll;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}

.messages .message.left .avatar {
    width: 50px;
    height: 50px;
    background: url("../image/avarta2.png") no-repeat;
    float: left;
}

.messages .message.left .text_wrapper {
    background-color: #e9eaee;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 0px 20px 20px 20px;
}

.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    border-radius: 0px 10px 10px 10px;
}

.messages .message.left {
    display: flex;
}

.messages .message.left .text {
    color: #404040;
    font-family: 'GmarketSansMedium';
}

.messages .message.right .text_wrapper {
    background-color: #5179f1;
    margin-right: 5px;
    float: right;
    border-radius: 20px 0px 20px 20px;
    word-break: break-all;
}

.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    display: none;
}

.messages .message.right .text {
    color: #ffffff;
}

.messages .message.appeared {
    opacity: 1;
}

.messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}

.messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    max-width: 70%;
    min-width: 10px;
    position: relative;
    font-family: 'GmarketSansMedium';
}

.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
}

.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}

.messages .message .text_wrapper .text {
    font-size: 13px;
    line-height: 20px;
}

.bottom_wrapper {
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    box-shadow: 0px -3px 6px #f2f2f2;
}

.bottom_wrapper .input_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.bottom_wrapper .message_input_wrapper input {
    width: 160%;
    height: 50px;
    border-radius: 20PX;
    border: none;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 25px;
    background-color: #f8f8f8;
    font-family: 'GmarketSansMedium';
}

.bottom_wrapper .message_input_wrapper input::placeholder {
    padding-left: 10px;
    color: #afafaf;
}
/* .bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 45px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
}

.bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    outline-width: 0;
    color: gray;
} */

.bottom_wrapper .send_message {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #5179f1;
    cursor: pointer;
}

.bottom_wrapper .send_message:hover {
    background-color: #93acf6;
}

.bottom_wrapper .send_message .text {
    display: flex;
    justify-content: center;
    padding-top: 13px;
    padding-right: 3px;
}


.bottom_wrapper .send_message .text img {
    width: 25px;
    height: 25px;
}

.message_template {
    display: none;
}